@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/homepage.css" asp-append-version="true" />
</head>
<div class="wholePage">
    <body>

            <h1>Welcome to our bar!</h1>
            


       
    </body>
</div>


</html>

