@{
    ViewData["Title"] = "Thank You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<body>
    <h1>Thank you!</h1><br /> <br />

 
    <h6>Your drink will be out shortly.</h6>
    <br /> <br />

    @Html.ActionLink("Back to the Menu", "Menu")
</body>

</html>




